body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.main-wrapper {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.vento-logo {
    width: 160px;
    display: block;
    margin: 0 auto 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.card-cedi {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000078;
}

.option-box {
    text-align: center;
    margin-bottom: 20px;
}

.qr-box {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-action {
    background: #007bff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.btn-secondary {
    background: #555;
}

.btn-exit {
    background: #c82333;
}

.btn-success {
    background: #28a745;
}

.info {
    margin-top: 20px;
}

.last-record {
    background: #181818;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
}

.message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}
