body {
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    max-width: 430px;
    background-color: #000;
    padding-bottom: 40px;
}

h2 {
    font-weight: 700;
    color: white;
}

.card {
    background-color: #e5e5e5;
    border-radius: 20px;
    padding: 25px;
    border: none;
    text-align: left;
}

.card h3 {
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}

.card p {
    color: #2b2b2b;
    font-size: 15px;
}

.card button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 35px;
    font-size: 14px;
}

.card button:hover {
    background-color: #444;
}

#qr-reader {
    border-radius: 15px;
    overflow: hidden;
}
